choice
	prompt "Machine Type"
	depends on STLS2F_SYSTEMS
	default EMTEC_GDIUM

config EMTEC_GDIUM
	bool "Emtec Gdium Liberty 1000 Netbook"
    select CEVT_R4K
    select CSRC_R4K
    select SYS_HAS_CPU_LOONGSON2
    select DMA_NONCOHERENT
    select BOOT_ELF32
    select BOARD_SCACHE
    select HAVE_STD_PC_SERIAL_PORT
    select HW_HAS_PCI
    select IRQ_CPU
    select SYS_SUPPORTS_32BIT_KERNEL
    select SYS_SUPPORTS_64BIT_KERNEL
    select SYS_SUPPORTS_LITTLE_ENDIAN
    select SYS_SUPPORTS_HIGHMEM
    select SYS_HAS_EARLY_PRINTK
	select GENERIC_GPIO
	select ARCH_REQUIRE_GPIOLIB
    select CPU_HAS_WB
	help
	  Specific support for the Emtec Gdium Liberty 1000 netbook, based on
	  the Loongson-2F CPU.

config GDIUM_VERSION
	int "Gdium Motherboard Revision"
	depends on EMTEC_GDIUM
	default 3
	help
	  Select the revision of the Emtec Gdium motherboard you have. If you are
	  unsure of what to say, leave this as 3.

config GDIUM_UART
	bool "Register UART during boot"
	depends on EMTEC_GDIUM
	default n
	help
	  If your Gdium has UART hardware installed, say y here. Otherwise, say n.

config GDIUM_PMON
	tristate "Register Gdium PMON MTD Partitions"
	depends on EMTEC_GDIUM
	default y
	help
	  Enables the MTD mapping in order to make it possible to upgrade the Emtec
	  Gdium's firmware from Linux. If unsure, say y.

endchoice

