# drivers/platform/Kconfig

if X86
source "drivers/platform/x86/Kconfig"
endif

if MACH_LOONGSON
source "drivers/platform/loongson/Kconfig"
endif

if PREEMPT_RT
source "drivers/platform/rt/Kconfig"
endif
